<nav>
  <div id="title">
    <img
      id="logo"
      src="https://media.istockphoto.com/vectors/social-media-blue-bird-vector-id608578604?k=20&m=608578604&s=612x612&w=0&h=k-FTctiPaedKd_U_DvGWUeLpvsIrfeWhZDgkO_jYBkc="
      alt="bird"
    />
    <h1>Tweeter</h1>
  </div>
  <div id="nav-box">
    <div *ngIf="currentUser.username != null">
      <p class="nav-options">Welcome {{this.currentUser.firstName}}</p>
    </div>
    <p routerLink="/signup" class="nav-options">Sign Up</p>
    <p routerLink="/signin" class="nav-options">Sign In</p>
    <p routerLink="/tweets" class="nav-options">All Tweets</p>
    <button (click)="signOut()" class="nav-options">Sign Out</button>
  </div>
</nav>
