<h1>User Profile: {{this.currentUser.username}}</h1>

        <div class="userProfile">Name: {{this.currentUser.firstName}} {{this.currentUser.lastName}}</div>
        <div class="userProfile">Location: {{ this.currentUser.location }}</div>
        <div class="userProfile">Profile Created: {{ this.currentUser.createdDate }}</div>


  <div *ngIf="userTweets && userTweets.length > 0">
    <div *ngFor="let userTweets of userTweets" class="tweet-container">
      <div>{{ userTweets.description }}</div>
      <div id="details">
        <div class="tweetProfile">{{ userTweets.user }}</div>
        <div class="tweetProfile">{{ userTweets.date }}</div>
        <div class="tweetProfile">{{ userTweets.time }}</div>
      </div>
       <div *ngIf="signedInUser.username == currentUser.username">
        <button [routerLink]="['/edit/', userTweets.tweetId]">Edit</button>
        <button (click)="deleteButton(userTweets.tweetId)">Delete</button>
      </div>
    </div>
  </div>